{% extends "base.html" %}

{% block title %}
Planet #{{ object.id }}: {{ object.name }} discovered by {{ object.creator }}
{% endblock %}

{% block content %}
<h1>Planet #{{ object.id }}: <em>{{ object.name }}</em> discovered by {{ object.creator }}</h1>

<div id="image-container">
    <img src="{{ object.image.url }}" alt="{{ object.description }}">
</div>

<table>
    <tr>
        <th scope="row">ID:</th>
        <td>#{{ object.id }}</td>
    </tr>
    <tr>
        <th scope="row">Discovered by:</th>
        <td>{{ object.creator }}</td>
    </tr>
    <tr>
        <th scope="row">Date discovered:</th>
        <td>{{ object.date_created }}</td>
    </tr>
    <tr>
        <th scope="row">Date uploaded:</th>
        <td>{{ object.date_time_uploaded }}</td>
    </tr>
    <tr>
        <th scope="row">Mass:</th>
        <td>{{ object.mass }} grams</td>
    </tr>
    <tr>
        <th scope="row">Diameter:</th>
        <td>{{ object.diameter }} centimetres</td>
    </tr>
    <tr>
        <th scope="row">Fun fact:</th>
        <td>{{ object.fun_fact }}</td>
    </tr>
    <tr>
        <th scope="row">Visual description:</th>
        <td>{{ object.description }}</td>
    </tr>
    <tr>
        <th scope="row">Notes:</th>
        <td>{{ object.notes }}</td>
    </tr>
</table>
{% endblock %}