{% extends "base.html" %}

{% block title %}
EMF Community Solar System Project
{% endblock %}

{% block content %}
<h1>EMF Community Solar System Project</h1>

<p>Number of planets in the solar system so far: {{ num_items }}</p>

<p><a href="{% url 'planets:planet-create' %}">Submit a contribution</a></p>

<p><a href="https://elichad.net/emf-docs/pages/contribute.html">How to contribute</a></p>

Click on any planet for more details. Proper visualisation coming soon!

{% if object %}
<!-- to be updated entirely -->
<table>
    {% with items=object.get_solar_system_items %}
    {% for item in items %}
    <tr>
        <td>
            {% if item and item.planet %}
            {% with planet=item.planet %}
            <a href="{{ planet.get_absolute_url }}"><img src="{{ planet.thumbnail.url }}" alt="{{ planet.description }}"
                    width="75px" height="75px"></a>
            {% endwith %}

            {% else %}
            Empty
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% endwith %}
</table>
{% endif %}

{% endblock %}