{% extends "base.html" %}

{% block title %}
EMF Community Blanket Project
{% endblock %}

{% block content %}
<h1>EMF Community Blanket Project</h1>

<p>Number of squares in the blanket so far: {{ num_items }}</p>

<p><a href="{% url 'squares:square-create' %}">Submit a contribution</a></p>

<p><a href="https://elichad.github.io/community-blanket/pages/contribute.html">How to contribute</a></p>

{% if object %}
<table>
    {% with items=object.get_blanket_items %}
    {% for row in items %}
    <tr>
        {% for item in row %}
        <td>
            {% if item %}
            <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.url }}" alt="{{ item.description }}"
                    width="75px" height="75px"></a>
            {% else %}
            Empty
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endwith %}
</table>
{% endif %}

{% endblock %}