# Django variables - create DJANGO_SECRET_KEY before running Django
DJANGO_SECRET_KEY=''

# S3 variables - if using S3 for media files set USE_S3=TRUE and set the other variables
USE_S3=FALSE
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_STORAGE_BUCKET_NAME=''
AWS_URL=''
AWS_DEFAULT_REGION=''

# Database - this should match the postgres config in docker-compose
DATABASE_NAME=''
DATABASE_USER=''
DATABASE_PASSWORD=''
DATABASE_HOST=''

# Heroku
USE_HEROKU=FALSE