/* TODO: custom styling */

div#image-container {
    width: 30vw;
    height: 30vw;
}

div#image-container img {
    height: 100%;
    width: 100%;
}

label {
    margin-top: 1rem;
    font-weight: bold;
}

input {
    margin-bottom: 1rem;
}

.helptext {
    font-size: small;
    color: grey;
}

#submit {
    margin-top: 1rem;
}