{% extends "base.html" %}

{% block title %}
Solar System #{{ object.id }}: {{ object.name }} by {{ object.creator }}
{% endblock %}

{% block content %}
<h1>Solar System #{{ object.id }}: <em>{{ object.name }}</em> by {{ object.creator }}</h1>

<table>
    <tr>
        <th scope="row">ID:</th>
        <td>#{{ object.id }}</td>
    </tr>
    <tr>
        <th scope="row">Creator:</th>
        <td>{{ object.creator }}</td>
    </tr>
    <tr>
        <th scope="row">Date created:</th>
        <td>{{ object.created_at }}</td>
    </tr>
    <tr>
        <th scope="row">Last updated:</th>
        <td>{{ object.updated_at }}</td>
    </tr>
    <tr>
        <th scope="row">Description:</th>
        <td>{{ object.description }}</td>
    </tr>
    <tr>
        <th scope="row">Max distance:</th>
        <td>{{ object.max_distance }} cm</td>
    </tr>
</table>

<!-- to be updated entirely -->
<table>
    {% with items=object.get_solar_system_items %}
    {% for item in items %}
    <tr>
        <td>
            {% if item and item.planet %}
            {% with planet=item.planet %}
            <a href="{{ planet.get_absolute_url }}"><img src="{{ planet.thumbnail.url }}" alt="{{ planet.description }}"
                    width="75px" height="75px"></a>
            {% endwith %}

            {% else %}
            Empty
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% endwith %}
</table>

{% endblock %}